Package: com.sushibta.minita
Name: MiniTa
Version: 0.2.81
Architecture: iphoneos-arm64
Description: MiniTa 81 tablet traits and adaptive landscape layout for YouTube.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Tweaks
Depends: mobilesubstrate
